@font-face{font-family: "iconfont";
	src: url('iconfont/iconfont.eot'); /* IE9*/
	src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
	url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-appreciate:before { content: "\e600"; }
.icon-check:before { content: "\e601"; }


body,ul,li,h1,h2,h3,h4,h5,h6,p,span{margin:0; padding:0; font-weight:normal;}
a,img{text-decoration:none; outline:none; border:none;}
a:hover{text-decoration:none;}
a:focus{outline:none; text-decoration:none;}
ul{list-style:none;}
article{display:block;}
*,*::after,*::before{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; font-family:"Microsoft YaHei";
margin:0; padding:0; transition:background-color 0.2s linear; transition:color 0.2s linear;
-moz-transition:background-color 0.2s linear; -moz-transition:color 0.2s linear;
-webkit-transition:background-color 0.2s linear; -webkit-transition:color 0.2s linear;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}

.register form ul li.opctions .border{display:block; height:100%; width:100%; line-height:36px; padding-left:20px; overflow:hidden; font-size:14px; color:#a9a9a9; text-align:center; border:3px solid #8ecaf1; position:absolute; left:0; top:0;}
.register form ul li.opctions .boy img{width:10px; height:26px; position:absolute; top:50%; left:50%; margin:-12px 0 0 -25px;}
.register form ul li.opctions .girl img{width:22px; height:13px; position:absolute; top:50%; left:50%; margin:-6px 0 0 -31px;}