<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<title>ECharts</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.min.css" />
		<!--[if lt ie 9]>
		<script src="js/lib/html5.min.js"></script> 
	<![endif]-->
	</head>

	<body>
		<div id="app" style="width: 1200px; height:300px;">

		</div>
		<div id="chart2" style="width: 600px; height:300px;">

		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.min.js"></script>
		<script>
		var myChart = echarts.init(document.getElementById('app'));

		let xAxisData = []
		for (let i = 0; i < 25; i++) {
			if (i < 10) {
				xAxisData.push('0' + i + '00');
			} else {
				xAxisData.push(i + '00');
			}
		}

		var option = {
			title: {
				text: ''
			},
			tooltip: {
				trigger: 'axis',
				axisPointer: { // 坐标轴指示器，坐标轴触发有效
					type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			legend: {
				data: ['申请人数', '通过人数'],
			},
			xAxis: {
				type: 'category',
				data: xAxisData
			},
			yAxis: {
				type: 'value',
				data: ['1', '500', '1000', '1500', '2000', '2500']
			},
			series: [{
					name: '申请人数',
					type: 'bar',
					stack: '总量',
					data: [200, 600, 1100, 1200, 800, 1100],
				},
				{
					name: '通过人数',
					type: 'bar',
					stack: '总量',
					data: [80, 70, 60, 100, 200, 200],
					markPoint: {
						// symbol: 'pin',
						itemStyle: {
							color: '#FF8D74'
						},
						data: [{
								name: '最大值',
								coord: [0, 280],
								value: 80
							},
							{
								name: '最大值',
								coord: [1, 670],
								value: 70
							},
						]
					}
				}
			]
		};

		myChart.setOption(option);
		/*myChart.on('brushSelected', renderBrushed);

		function renderBrushed(params) {
		    var brushed = [];
		    var brushComponent = params.batch[0];

		    for (var sIdx = 0; sIdx < brushComponent.selected.length; sIdx++) {
		        var rawIndices = brushComponent.selected[sIdx].dataIndex;
		        brushed.push('[Series ' + sIdx + '] ' + rawIndices.join(', '));
		    }
		}*/
		function randomData() {
			now = new Date(+now + oneDay);
			value = value + Math.random() * 21 - 10;
			return {
				name: now.toString(),
				value: [
					[now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
					Math.round(value)
				]
			}
		}

		var data = [];
		var now = +new Date(1997, 9, 3);
		var oneDay = 24 * 3600 * 1000;
		var value = Math.random() * 1000;
		for (var i = 0; i < 1000; i++) {
			data.push(randomData());
		}
		echarts.init(document.getElementById('chart2')).setOption({
			title: {
				text: '动态数据 + 时间坐标轴'
			},
			tooltip: {
				trigger: 'axis',
				formatter: function(params) {
					params = params[0];
					var date = new Date(params.name);
					return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
				},
				axisPointer: {
					animation: false
				}
			},
			xAxis: {
				type: 'time',
				splitLine: {
					show: false
				}
			},
			yAxis: {
				type: 'value',
				boundaryGap: [0, '100%']
			},
			series: [{
				name: '模拟数据',
				type: 'line',
				showSymbol: false,
				hoverAnimation: false,
				data: data
			}]
		});
		</script>
	</body>

</html>