<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="assets/base.min.css" />
</head>

<body>
	<div id="app">
		<button @click="onAddDataBtn">添加数据</button>
		<button @click="onGetDataBtn">读取数据</button>
		<button @click="onGetDataAll">全部数据</button>
		<button @click="onRemove">删除数据</button>
		<p>{{ dbData }}</p>
	</div>
	<script src="public/js/library/vue3.js" defer></script>
	<script type="module">
		const { createApp, ref } = Vue
		const app = createApp({
			setup () {
				const dbData = ref({})
				const request = window.indexedDB.open('firstIndexedDB', 1)
				let db

				request.onerror = function (event) {
					console.log(event)
				}

				request.onsuccess = function (event) {
					db = request.result
					// console.log(event)
					console.log('数据库打开成功')
				}
				/**	
				 * 新建数据库与打开数据库是同一个操作。如果指定的数据库不存在，就会新建。
				 * 不同之处在于，后续的操作主要在upgradeneeded事件的监听函数里面完成，
				 * 因为这时版本从无到有，所以会触发这个事件。通常，新建数据库以后，第一件事是新建对象仓库（即新建表）
				 */
				request.onupgradeneeded = function (event) {
					// 通过事件对象的target.result属性，拿到数据库实例
					db = event.target.result
					// console.log(db)
					// 判断表格是否存在
					if (!db.objectStoreNames.contains('person')) {
						/* 
							数据库新建成功以后，新增一张叫做person的表格，主键是id
							主键（key）是默认建立索引的属性。比如，数据记录是{ id: 1, name: '张三' }，
							那么id属性可以作为主键。主键也可以指定为下一层对象的属性，
							比如{ foo: { bar: 'baz' } }的foo.bar也可以指定为主键。
						*/
						let objectStore = db.createObjectStore('person', { keyPath: 'id' })
						// 如果数据记录里面没有合适作为主键的属性，那么可以让 IndexedDB 自动生成主键
						// let objectStore = db.createObjectStore('person', { autoIncrement: true })
						/*
						三个参数分别为索引名称、索引所在的属性、配置对象（说明该属性是否包含重复的值）
						索引的意义在于，可以让你搜索任意字段，也就是说从任意字段拿到数据记录。
						如果不建立索引，默认只能搜索主键（即从主键取值）。假定新建表格的时候，对name字段建立了索引。
						*/
						// 现在，就可以从name找到对应的数据记录了。
						objectStore.createIndex('name', 'name', { unique: false })
						objectStore.createIndex('email', 'email', { unique: true })
					}
				}

				// 写入数据需要新建一个事务。新建时必须指定表格名称和操作模式（"只读"或"读写"）。
				// 新建事务以后，通过IDBTransaction.objectStore(name)方法，
				// 拿到 IDBObjectStore 对象，再通过表格对象的add()方法，向表格写入一条记录
				function add () {
					const IDBObjectStore = db.transaction(['person'], 'readwrite').objectStore('person')

					IDBObjectStore.add({ id: 1, name: 'z', age: 23, email: '1@.com' })
					IDBObjectStore.add({ id: 2, name: 'l', age: 22, email: '2@.com' })

					request.onsuccess = function (event) {
						console.log('数据写入成功')
					}

					request.onerror = function (event) {
						console.log('数据写入失败')
					}
				}

				// 删除数据
				function remove() {
					let request = db.transaction(['person'], 'readwrite')
					let store = request.objectStore('person')
					// console.log(request)
					// store.delete(1)
					// store.delete(2)
					store.clear()
					request.onsuccess = function (event) {
						console.log('数据删除成功');
					}
					dbData.value = {}
				}

				// 更新数据
				function update() {
					let request = db.transaction(['person'], 'readwrite')
						.objectStore('person')
						.put({ id: 1, name: '李四', age: 35, email: 'lisi@example.com' });

					request.onsuccess = function (event) {
						console.log('数据更新成功');
					}

					request.onerror = function (event) {
						console.log('数据更新失败');
					}
				}
				
				// 遍历数据表格的所有记录，要使用指针对象 IDBCursor。
				function readAll() {
					let objectStore = db.transaction('person').objectStore('person');
					dbData.value = []
					objectStore.openCursor().onsuccess = function (event) {
						let cursor = event.target.result;

						if (cursor) {
							console.log('Id: ' + cursor.key);
							console.log('Name: ' + cursor.value.name);
							console.log('Age: ' + cursor.value.age);
							console.log('Email: ' + cursor.value.email);
							dbData.value.push(cursor.value)
							cursor.continue();
						} else {
							console.log('没有更多数据了！');
						}
					}
				}

				function onGetDataBtn () {
					let transaction = db.transaction(['person']);
					let store = transaction.objectStore('person');
					// let index = store.index('name');
					// 从name拿数据
					// let request = index.get('李四')
					// 从主键拿数据
					let request = store.get(1);

					request.onerror = function(event) {
						console.log('事务失败');
					};

					request.onsuccess = function(event) {
						if (request.result) {
							console.log(request.result)
							dbData.value = request.result
						} else {
							console.log('未获得数据记录');
						}
					}
				}

				return {
					dbData,
					onGetDataBtn,
					onAddDataBtn: add,
					onGetDataAll: readAll,
					onRemove: remove
				}
			}
		})
		app.mount("#app")
		
	</script>
</body>
</html>
