<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
		<style type="text/css">
			ul, li { margin: 0; padding: 0; list-style: none; }
			a { margin: 2px 0; text-decoration: none; color: rgb(2, 141, 141); }
			a { font-size: 13px; display: inline-block; }
			a:active, a:hover, a:focus {
				color: rgb(5, 186, 186);
				opacity: 1;
			}
		</style>
	</head>
	<body>
		<ul>
			<li><a href="canvas.html" name="new tab">canvas</a></li>
			<li><a href="es6.html" name="new tab">es6</a></li>
			<li><a href="h5Download.html" name="new tab">h5 download</a></li>
			<li><a href="indexdbPrintWinOpenClose.html" name="new tab">indexdbPrintWinOpenClose</a></li>
			<li><a href="microMacro.html" name="new tab">microMacro</a></li>
			<li><a href="requestAnimationFrame.html" name="new tab">requestAnimationFrame</a></li>
			<li><a href="suanfa.html" name="new tab">算法</a></li>
			<li><a href="suiji.html" name="new tab">随记</a></li>
			<li><a href="throwError.html" target="_blank" name="new tab">抛出错误</a></li>
		</ul>
		<script>
		</script>
	</body>
</html>
