<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="http://localhost:3007/assets/base.min.css" />
	<style type="text/css"></style>
</head>
<body>
	<div id="app" style="overflow: visible;">
		<pre style="min-width: 100%; white-space: pre-wrap; word-break: break-word;">
		</pre>
		<div>菜单</div>
		<!-- 粘性布局 -->
		<div title="粘性布局" style="position: sticky; top: 0; left: 0; right: 0; height: 20px; background-color: rgba(135, 128, 128, .3);"></div>
		<ul>
			<li v-for="(item, index) in urlList">
				<a :key="index" :href="item.url">{{ item.name }}</a>
			</li>
		</ul>
	</div>
	<!-- <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script> -->

	<!-- <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script> -->
	<!-- <script>
		function isWeixin () { // 判断是否是微信浏览器
			let ua = navigator.userAgent.toLowerCase()
			return ua.match(/MicroMessenger/i) === 'micromessenger'
		}
		wx.miniProgram.getEnv((res) => {
			if (res.miniprogram) {
				alert(JSON.stringify(res))
				alert(JSON.stringify(wx))
			}
		})
	</script> -->
	<!--
		defer
		在执行到加了defer的script时会推入下载进程，然后再去执行下一个标签。
		待到这个script的外链下载完毕时，需要看DOM是否渲染完毕了，如果渲染完毕了则执行defer script的内容，
		然后触发DOMContentLoaded 的回调。多个defer等待所有defer下载完依次执行。
		如果defer的script也放在</body>前，则绿色走完才走紫色和红色。此时对DOM渲染和DOMContentLoaded的时机的触发和普通script完全相同。
		async
		在执行到加了async的script时会先下载，然后再去执行下一个标签。
		待到这个script的外链下载完毕时，如果DOM正在渲染则暂停，执行async script的内容。
		多个async先下载完的先执行
		
		以上时大概 具体看这个 https://zhuanlan.zhihu.com/p/622763093?utm_id=0
	-->
	<script src="http://localhost:3006/public/js/library/vue3.js" defer></script>
	<script src="http://localhost:3006/public/js/qiankunMicro.js" entry></script>
	<script type="module">
		const { createApp, ref, onMounted } = Vue
		const app = createApp({
			setup (props, context) {
				const urlList = [
					{ url: 'http://localhost:3007/callAndApply.html', name: 'callAndApply', },
					{ url: 'http://localhost:3007/es6.html', name: 'es6', },
					{ url: 'http://localhost:3007/esClass.html', name: 'esClass及解构赋值', },
					{ url: 'http://localhost:3007/suiji.html', name: '随记', },
					{ url: 'http://localhost:3007/microMacro.html', name: 'microMacro', },
					{ url: 'http://localhost:3007/suanfa.html', name: '算法', },
					{ url: 'http://localhost:3007/indexdb.html', name: 'indexdb', },
					{ url: 'http://localhost:3007/clientHeight.html', name: '获取元素高度', },
					{ url: 'http://localhost:3007/errorObject.html', name: '错误对象', },
					{ url: 'http://localhost:3007/h5Download.html', name: 'h5Download', },
					{ url: 'http://localhost:3007/promiseAsync.html', name: 'Promise和async', },
					{ url: 'http://localhost:3007/getIPs.html', name: 'IP地址测试', },
					{ url: 'http://localhost:3007/requestAnimationFrame.html', name: 'requestAnimationFrame', },
					{ url: 'http://localhost:3007/print.html', name: 'print', },
					{ url: 'http://localhost:3007/useRequire.html', name: 'useRequire', },
					{ url: 'http://localhost:3007/webSocket.html', name: 'webSocket', },
					{ url: 'http://localhost:3007/webWorker.html', name: 'webWorker', },
					{ url: 'http://localhost:3007/windowClose.html', name: '窗口关闭', },
				]
				function main () {
					// document.all 获得当前页面所有标签 console.log(!document.all)
					// 如果在模板字符串中需要使用反引号或反斜杠（\），则前面要用反斜杠转义 
					// console.log(`1\`\\d2`)
					/* const newObj = Object.create({
						a: 1
					})
					newObj.b = 2
					console.dir(newObj)
					console.log(newObj.b) */
				}
				onMounted(() => {
					main()
				})
				return {
					urlList,
				}
			}
		})
		console.dir(app)
		const component = app.mount('#app')
		console.dir(component)

		async function test () {
			const res = await Promise.resolve(11)
			console.log(res + 1)
		}
		test()
	</script>
</body>
</html>
