<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="assets/base.min.css" />
</head>
<body>
	<div id="app">
		
	</div>
	<script src="public/js/library/vue3.js" defer></script>
	<script type="module">
		const { createApp, onMounted } = Vue
		const app = createApp({
			setup () {
				function fibonacci(x) {
					return x <= 1 ? x : fibonacci(x - 1) + fibonacci(x - 2);
				}

				onMounted(() => {
					console.log(fibonacci(3))
				})

				return {

				}
			}
		})
		app.mount('#app')
	</script>
</body>
</html>
