<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="assets/base.min.css" />
		<!--[if lt ie 9]><script src="js/lib/html5.min.js"></script><![endif]-->
		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css" /> -->
		<style type="text/css">
			.abc:first-line{
				color: yellow;
				writing-mode: tb-rl;
				zoom: 1;
			}
			.abc:first-letter{
				color: red;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<p>devicePixelRatio:{{ viewData }}</p>
			<!-- <div class="abc" style="width: 100px; height: 100px; display: block;">
				<div>11212</div>
				<div>2</div>
			</div> -->
			<button-counter></button-counter>
			<button @click="onGetDataBtnClick">getData</button>
		</div>
		<!-- defer 异步加载 等文档加载完才执行 async异步加载 加载完后立即执行 -->
		<script src="public/js/library/vue3.js" defer></script>
		<!-- <script type="importmap">
			{ "imports": { "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js" } }
		</script> -->
		<script type="module">
			// import { createApp, ref, onMounted } from 'vue'
			const { createApp, ref, onMounted } = Vue

			const ButtonCounter = {
				props: {
					propsName: Number
				},
				setup() {
					const count = ref(0)
					const btnClick = () => {
						count.value++
					}
					return {
						count,
						btnClick,
					}
				},
				template: `<button @click="btnClick">You clicked me {{ count }} times.</button>`
			}

			const app = createApp({
				components: {
					ButtonCounter,
				},
				setup () {
					const viewData = ref(window.devicePixelRatio)

					function createXMLHttpRequest () {
						let xhr;
						if (window.ActiveXObject) {
							xhr = new ActiveXObject('Microsoft.XMLHTTP');
						} else if (window.XMLHttpRequest) {
							xhr = new XMLHttpRequest();
						}
						return xhr;
					}

					function testGetData () {
						const params = {
							id: '121',
							arr: [1, 2, 3]
						};
						const headers = new Headers({
							'Content-Type': 'application/json',
							'cache-control': 'no-cache',
						})
						// headers.append('Content-Type', 'application/json')
						const request = new Request('http://localhost:3006/api/getData', {
							method: 'post',
							cache: 'default',
							body: JSON.stringify(params),
							headers,
						})
						fetch(request).then((response) => {
							console.log(response, 'response')
						})
					}
					function onGetDataBtnClick () { testGetData () }

					onMounted(() => {
						console.log(
							'获得对象指定属性的描述', 
							Object.getOwnPropertyDescriptor({ propName: () => 11 }, 'propName')
						)
						// const getDataBtn = document.querySelector('button')
					})

					return {
						viewData,
						onGetDataBtnClick
					}
				}
			}).mount('#app')
		</script>

		<script>
			// 分治法
			// 快速排序
			// 归并排序
			// 快速傅立叶变换
			setTimeout(function(){
				console.log('setTimeout') 
			},0) 		
			//同步
			console.log('script start')	
			async function async1(){
				//同步
				console.log('async1 start');
				await async2()
				//异步
				console.log('async1 end')
			}	
			async function async2(){
				//同步
				console.log('async2 end')
			}	
			//微任务
			new Promise(function(resolve){
				//同步
				console.log('promise')
				for (var i = 0; i <10000; i++) {
					if (i === 10) {
						console.log("3")
					}
					i == 9999 && resolve('4')
				}
				resolve();
			}).then(function(val){
				console.log(val)
				//异步
				console.log('promise1')
			}).then(function(res){
				console.log(res)
				console.log('promise2')
			})	
			//微任务
			async1(); 	
			//同步
			console.log('script end')


			class CustomHTMLElement {
				constructor(element) {
					this.element = element;
				}

				get html() {
					return this.element.innerHTML;
				}

				set html(value) {
					this.element.innerHTML = value;
				}
			}

			var descriptor = Object.getOwnPropertyDescriptor(CustomHTMLElement.prototype, 'html')

			console.log(descriptor)
			console.dir(CustomHTMLElement)
			console.log('set' in descriptor)  // true


			function Person(name, age) {} 

			Person.prototype.a = 9999;
			Person.__proto__.b = -9999;

			var will = new Person(); 

			console.log(will.a); // 9999 
			console.dir(Person)
			// console.dir(Person['[[Prototype]]'])
			console.dir(Object.getPrototypeOf(will))
			console.log(will.b); // undefined



			new Promise((resolve, reject) => {
				console.log('one time')
				// resolve('fulfilled')
				// reject(new Error('test1'))
				// throw new Error('test')
				reject('rejected')
			}).then((val) => {
				console.log(val, 'fulfilled')
			}/* , (val) => {
				console.log(val, 'rejected')
			} */).catch((e) => {
				console.log(12345)
				console.log(e, 'error')
			})

			// let xx = false

			// let yy = 2

			// yy &&= xx
			// yy || (yy = xx)

			// console.log(yy)


			console.log('abca'.replace(/a(?<bName>b)(c)/, (c, ...cc) => {
				console.log(c)
				console.log(cc, cc[cc.length - 1].bName)
				return 'dbc'
			}))



			const pObject = new Object({
				a: 1
			})
			const ccFunc = function (a, b) {
				console.log(this)
				console.log(a + b)
			}
			
			const pFunc = function (a, aa) {
				console.log(arguments)
				ccFunc.apply(pObject, arguments) // arguments是类数组,除了length属性和索引元素之外没有任何Array属性
				let b = Array.prototype.slice.apply(arguments, [0, 1])
				console.log(b[0], 'hh')
			}
			console.log(pObject.a)
			console.dir(pObject)
			console.dir(pFunc)
			console.log(pFunc(1, 2))

			const array = [1, 2, 3]

			const newArr = array.map((item, index, arr) => {
				return item + 1
			})
			console.log(newArr)

			const arraySparse = [1, 3, 2, /* empty */, 7]
			let numCallbackRuns = 0

			arraySparse.forEach((element, i) => {
				console.log({ element })
				if (i === 1) {
					// arraySparse.shift()
					// arraySparse.splice(i, 1)
				}
				numCallbackRuns++;
			});

			console.log({ numCallbackRuns })






			/** 
			 *
			 * 
			 *       */


			const testProxyObj = {
				a: 1
			}
			const proxyObj = new Proxy(testProxyObj, {
				get () {
					return 32
				}
			})

			const prO = Proxy.revocable(testProxyObj, {
				get () {
					return 9
				}
			})
			// console.dir(proxyObj)
			// console.log(proxyObj[[Target]])

			// console.log(proxyObj)
			// console.log(prO)

			// console.log(Object.hasOwnProperty.call(proxyObj, 'a'))

			let i = 0
			let j = 2
			// 什么情况下\n 符 声明不会结束
			if (i < 10)
			{
				i
				++
				j
				console.log(i, j) // 0 3 因为被解析为i; ++j
			}
			else
				console.log(12); // 如没有分号; 和{ \n 表述未结束
			// 下一行以() 会报错
			// for()，while()，do，if()，或else，并没有 { 声明不会结束
			// 下一行开头[，(，+，*，/，-，,，.，或一些其它二元运算，可以只有两个标记之间在一个单一的表达被发现。

			(function() {
				/*
					控制台打印浅色属性表示不可枚举
					*/
				const obj12 =Object.defineProperty({}, 'property1', {
					value: 12,
					enumerable: false
				});
				// console.dir(obj12);
				/*  */

				var Component = function() {
					this.data = this.data();
				}
				Component.prototype.data = function() {
					// console.log(this);
					return {
						message: 'test'
					}
				}
				var c1 = new Component();

				class Point {
					static stest = '12';
					constructor (a) {
						this.a = a;
					}
					toString () {
						console.log(this.a);
					}
				}
				class Ptc extends Point {
					constructor (a) {
						super(2);
						this.b = a;
					}
					toString2 () {
						console.log(this);
					}
					test () {
						this.toString2();
					}
				}
				// console.log(Object.keys(Point.prototype));

				let pt = new Point(568);
				pt.toString();
				// console.dir(Point);
				console.log(pt);
				let ptc = new Ptc(3);
				// ptc.test();
				// ptc.toString2();
				// ptc.toString();

				class Ffoo {
					constructor(...args) {
						this.args = args;
					}
					* [Symbol.iterator]() { // 为类部署iterator 返回一个Foo类的默认遍历器
						for (let arg of this.args) {
							yield arg;
						}
					}
				}
				let ffoo = new Ffoo('hello', 'world')
				console.log(Ffoo)

				for (let x of ffoo) {
					// console.log(x);
				}

				var clock = function* () {
					while (true) {
						console.log('Tick!');
						yield;
						console.log('Tock!');
						yield;
					}
				}();
				// clock.next();
				// clock.next();
				// clock.next();
				function* fibonacci() {
					let [prev, curr] = [0, 1];
					for (;;) {
						yield curr;
						[prev, curr] = [curr, prev + curr];
					}
				}

				for (let n of fibonacci()) {
					if (n > 1000) break;
					// console.log(n);
				}

				function* foo(x) {
					var y = 2 * (yield (x + 1));
					var z = yield (y / 3);
					return (x + y + z);
				}
				var f1 = foo(5);
				f1.next() // Object{value:6, done:false}
				f1.next() // Object{value:NaN, done:false}
				f1.next() // Object{value:NaN, done:true}

				var f2 = foo(5);
				f2.next() // { value:6, done:false }
				f2.next(12) // { value:8, done:false }
				f2.next(13) // { value:42, done:true }

				function* helloWorldGenerator() {
					yield 'h';
					yield 'w';
					return 'end';
				}
				let hlg = helloWorldGenerator();
				// console.log(hlg.next()); // {value: "h", done: false}
				// console.log(hlg.next()); // {value: "w", done: false}
				// console.log(hlg.next()); // {value: "end", done: true}

				// 对象添加iterator 属性

				let iteratorObj = {
					* [Symbol.iterator]() {
						yield 'h';
						yield 'w';
					}
				};

				for (let x of iteratorObj) {
					// console.log(x);
				}

				for (let [key, value] of Object.entries({'a': 1, 'b': 2})) {
					// console.log(`${key}->${value}`);
				}


				var someString = 'hi';
				// console.log(typeof someString[Symbol.iterator]); // function

				// 
				function Tree(left, label, right) {
					this.left = left;
					this.label = label;
					this.right = right;
				}

				// 下面生成二叉树
				function make(arr) {
					// 判断是否为叶节点
					if (arr.length == 1) return new Tree(null, arr[0], null);
					return new Tree(make(arr[0]), arr[1], make(arr[2]));
				}
				let tree = make([[['a'], 'b', ['c']], 'd', [['e'], 'f', ['g']]]);

				// 反射
				var reflectTest = new Proxy({}, {
					get(target, name) {
						console.log('get', target, name);
						return Reflect.get(target, name);
					},
					set(target, name, value, receiver) {
						var success = Reflect.set(target, name, value, receiver);
						if (success) {
							// console.log('property ' + name + ' on ' + target + ' set to ' + value);
						}
						return success;
					},
					deleteProperty(target, name) {
						console.log('delete' + name);
						return Reflect.deleteProperty(target, name);
					},
					has(target, name) {
						console.log('has' + name);
						return Reflect.has(target, name);
					}
				});
				reflectTest.aa = '123';
				// console.log(reflectTest.aa); //123
				// 代理
				const dom = new Proxy({}, {
					get(target, property) {
						return function(attrs = {}, ...children) {
							const el = document.createElement(property);
							for (let prop of Object.keys(attrs)) {
								el.setAttribute(prop, attrs[prop]);
							}
							for (let child of children) {
								if (typeof child === 'string') {
									child = document.createTextNode(child);
								}
								el.appendChild(child);
							}
							return el;
						}
					}
				});
				const el = dom.div({},
					'Hello, my name is ',
					dom.a({href: '//example.com'}, 'Mark'),
					'. I like:',
					dom.ul({},
						dom.li({}, 'The web'),
						dom.li({}, 'Food'),
						dom.li({}, '…actually that\'s it')
					)
				);

				function invariant (key, action) {
					// console.log('_prop'[0]); // _
					if (key[0] === '_') {
						// throw new Error(`Invalid attempt to ${action} private "${key}" property`);
					}
				}
				const target = {};
				const proxy2 = new Proxy(target, {
					get (target, key) {
						invariant(key, 'get');
						return target[key];
					},
					set (target, key, value) {
						invariant(key, 'set');
						target[key] = value;
						return true;
					}
				});
				proxy2._prop

				var proxyObj = new Proxy({}, {
					get: function(target, key, receiver) {
						// console.log(target, key, receiver);
						return Reflect.get(target, key, receiver);
					},
					set: function (target, key, value, receiver) {
						// console.log(target, key, value, receiver);
						return Reflect.set(target, key, value, receiver);
					}
				});
				proxyObj.aa = 1;
				// console.log(proxyObj.aa);


				// set 和 map

				let arr2 = [[1, 2], [2, 3]];
				let weakSet = new WeakSet(arr2);
				// console.log(weakSet); // 由于匿名函数执行完 内部变量arr2随着匿名函数被销毁 所以没有值


				let set = new Set([2, 4, 6]);
				// console.log(set);

				// console.log(({[Symbol.toStringTag]: 'test'}).toString()); // [object test]

			})();
			
			/* -片段 关于Symbol.species- */
			(function() {
				// 是指定一个构造函数创建派生对象的函数值属性
				// 属性允许子类覆盖对象的默认构造函数
				/* 您可能想要返回Array派生数组类中的对象MyArray。
				例如，当使用诸如map()返回默认构造函数的方法时，
				您希望这些方法返回父Array对象而不是MyArray对象。
				物种符号可以让你做到这一点 */
				class MyArray extends Array {
					static get [Symbol.species]() {
						return Array;
					}
				}
				const arr = new MyArray(1, 2, 3);
				const b = arr.map(x => x);
				const c = arr.filter(x => x > 1);
				// console.log(b instanceof MyArray); // true
				// console.log(c instanceof MyArray); // true
				// console.log(b);
			})();


			/* -片段 Symbol.isConcatSpreadable作用- */
			(function() {
				const arr = [1, 2]
				// Symbol.isConcatSpreadable布尔值，对象用于Array.prototype.concat()时，是否可以展开
				arr[Symbol.isConcatSpreadable] = false;
				const newArr = [3, 4].concat(arr)
				// 为false
				// console.log(newArr, 'isConcatSpreadable功能') // [3, 4, [1, 2]]
				// 为true
				// console.log(newArr, 'isConcatSpreadable功能') // [3, 4, 1, 2]

			})();

			/* -片段未知- */
			(function() {
				// Object.prototype.foo = 'test'; // 有vue 会报错
				const myObj = {};
				Object.setPrototypeOf(myObj, new Proxy({}, {
					set: function(obj, prop, value, receiver) {
						obj[prop] = receiver;
					}
				}));
				// console.log(myObj.foo); // test
				myObj.foo = 'bar';
				// console.log(myObj.foo === myObj); // true
			})();
			
			(function() {
				/* -片段 深copy和构造方法一些实验 - */
				function W(a) {
					this.a = a;
				}
				W.prototype.deepCopy = function(obj) {
					var newObj = Array.isArray(obj) ? [] : {};
					for (var item in obj) {
						if (typeof obj[item] === "object" && obj[item] != null && !(obj[item] instanceof Date)) {
							newObj[item] = this.deepCopy(obj[item]);
						} else {
							newObj[item] = obj[item];
						}
					}
					return newObj;
				}
				W.prototype.printThis = function() {
					console.log(this);
				}
				W.test = function() {
					console.log(this, '指向W方法');
				}
				var w = new W(2);
				let a = w.deepCopy({
					a: {
						b: 1
					}
				});
				// W.test();
				// w.printThis();
				
				/* -片段 防抖- */
				function debounce(fn, delay) {
					let timer = null;
					return function () {
						let context = this, args = arguments;
						clearTimeout(timer);
						timer = setTimeout(function() {
							fn.apply(context, args);
						}, delay);
					};
				}
				window.onresize = debounce(function(){
					// console.log(12);
				}, 250);

				/* -片段 async理解- */
				async function foo() {
					await new Promise((resolve) => {
						setTimeout(resolve, 3000);
					});
					// console.log(123);
					await new Promise((resolve) => {
						setTimeout(resolve, 3000);
					});
					// console.log(223);
					return;
				}
				foo().then(() => {
					// console.log(2);
				});

				/* -片段 ES6继承- */
				class Pc {
					constructor (x) {
						this.name = x;
						console.log(new.target.name);
					}
				}

				class Cc extends Pc {
					constructor (x, y) {
						super(x);
						this.y = y;
					}
				}
				// console.dir(Cc);

				/* -片段 正则新api- */
				/*let r = /a\d/y; // 必须从剩余的第一个位置开始(成功)否则null lastIndex为0
				console.log('a1a2a3'.match(r)); // ["a1"]
				console.log('a1a2a3'.match(r)); // ["a2"]
				console.log('a1a2a3'.match(r)); // ["a3"]
				console.log('a1a2a3'.match(r)); // null	
				console.log('a1a2a3'.match(r)); // ["a1"]
				let gr = /a\d/g; // 从剩余的第一个位置开始 成功为止 否则null
				console.log('a1a2a3'.match(gr)); // ["a1", "a2", "a3"]
				console.log(gr.exec('a1a2a3')); // ["a1"]
				console.log(gr.exec('a1a2a3')); // ["a2"]*/

				/* -片段 去掉前后空格- */
				String.prototype.trimTest = function() {
					return this.replace(/^\s+|\s+$/, '');
				}
				
				/* -片段 将argument转换为数组的几种方法- */
				const argumentsCheckAndTransition = function () {
					// let argArr = Array.prototype.slice.apply(arguments)
					let argArr = Array.from(arguments)
					// console.log(arguments, '看看arguments')
					// console.log(Array.isArray(arguments)) // false
					// for (let i = 0, len = argArr.length; i < len; i++) {}
				}
				argumentsCheckAndTransition(1, 2);

			})();

			/* -片段 冒泡排序从小到大 其他几种排序方式- */
			(function () {
				const sortArr = [1, 3, 5, 4, 6, 2]
				
				for (let i = 0; i < sortArr.length; i++) {
					for (let l = 0; l < sortArr.length; l++) {
						if (sortArr[l] > sortArr[l + 1]) {
							let temp = sortArr[l];
							sortArr[l] = sortArr[l + 1];
							sortArr[l + 1] = temp;
						}
					}
				}
				
				// a第一个用于比较的元素 b第二个
				// 大于0 a在b后，否则a在b前面，等于0 则不变
				/* sortArr.sort((a, b) => {
					// 升序
					return a - b
					// 降序
					// return b - a
				}) */
				// console.log(sortArr, '冒泡排序结果小到大')
			})();


			/* -片段作用域相关理解- */
			(function() {
				for (var i = 0; i < 3; i++) {
					// 匿名函数会插入到主线程立即执行，并且匿名函数的参数(实参)已确定
					// 所以setTimeout的回调方法中i的作用域在匿名函数内，而不是全局
					(function (i) {
						setTimeout(function() {
							// console.log(i); // 0 1 2
						}, 10);
					})(i);
				}
				for (let i = 0; i < 3; i++) {
					setTimeout(function() {
						// console.log(i); // 由于let的原因 0 1 2
					}, 10);
				}
				for (var i = 0; i < 3; i++) {
					setTimeout(function() {
						// console.log(i); // 三个3
					}, 10);
				}
			})();

			/* AMD 简单实现 方便理解 */
			(function() {
				var MyModules = (function(){
					var modules = [];
					function define(name, deps, cb) {
						deps.forEach(function(dep, i) {
							deps[i] = modules[dep];
						});
						modules[name] = cb.apply(cb, deps);
					}
					function get(name) {
						return modules[name];
					}
					return {
						define,
						get,
					};
				})();
				MyModules.define('add', [], function() {
					return function(a, b) {
						return a + b;
					};
				})
				MyModules.define('foo', ['add'], function(add) {
					var a = 3;
					var b = 4;
					return {
						doSomething: function() {
							return add(a, b) + a;;
						}
					};
				})
				var add = MyModules.get('add');
				var foo = MyModules.get('foo');
				// console.log(add(1, 2));
				// console.log(foo.doSomething());

			})();
		</script>
	</body>

</html>
