<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../public/css/style.min.css" />
		<!--[if lt ie 9]>
			<script src="js/lib/html5.min.js"></script> 
		<![endif]-->
		<script src="../public/js/lib/require.js"></script>
		<!-- 引入样式 -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
		<!-- 引入组件库 -->
		<style type="text/css">
			.abc:first-line{
				color: yellow;
				writing-mode: tb-rl;
				zoom: 1;
			}
			.abc:first-letter{
				color: red;
			}
		</style>
	</head>

	<body style="padding: 0;">
		<button id="testgb">关闭</button>
		<div id="app">
			<div class="test" style="height: 200px;">
				<p>1</p>
				<p>2</p>
			</div>
		</div>
		<script>
			require(['../public/js/common'], function() {
				require(['jquery', 'vue'], function($, Vue) {
					require(['vuex', 'f2', 'underscore'], function(Vuex, F2, _) {
						const testgb = document.querySelector('#testgb')
						testgb.addEventListener('click', () => {
							window.close()
						}, false)

						(function () {
							function fibonacci(x) {
								return x <= 1 ? x : fibonacci(x - 1) + fibonacci(x - 2);
							}
							console.log(fibonacci(3))
						})();


						const el = document.querySelector('.test')
						console.log(el.clientHeight, '12')

						const str = ''
						const a1 = str || 0
						const a2 = str ?? 0
						console.log(a1, a2)
						console.log(!!str)

						let exponentiation = 3
						exponentiation **= 3
						console.log(exponentiation)
						

						let commaOperatorTest = 1
						commaOperatorTest = (commaOperatorTest++, 3)
						console.log(commaOperatorTest)

						const deleteOpreator = {
							pro1: 1,
							pro2: {
								a: 3
							}
						}
						const test = deleteOpreator.pro2
						delete deleteOpreator.pro2

						console.log(deleteOpreator, test)


						const pduan = ''
						if (pduan || pduan === 0) {
							console.log(11)
						}
						// try {
						// 	throw new Error('1')
						// 	console.log('2') // 不会打印
						// } catch (e) {
						// 	console.log(e)
						// }
					});
				});
			});
		</script>
	</body>
</html>
