<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="assets/base.min.css" />
	</head>

	<body style="padding: 0;">
		<button id="closeBtn">关闭</button>
		<div class="test" style="height: 200px;">
			<p>1</p>
			<p>2</p>
		</div>
		<script>
			const closeBtn = document.querySelector('#closeBtn')
			closeBtn.addEventListener('click', () => {
				window.close()
			}, false)

			(function () {
				function fibonacci(x) {
					return x <= 1 ? x : fibonacci(x - 1) + fibonacci(x - 2);
				}
				console.log(fibonacci(3))
			})();

			const el = document.querySelector('.test')
			console.log(el.clientHeight)

			// try {
			// 	throw new Error('1')
			// 	console.log('2') // 不会打印
			// } catch (e) {
			// 	console.log(e)
			// }
		</script>
	</body>
</html>
