<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.min.css" />
	<!--[if lt ie 9]>
		<script src="js/lib/html5.min.js"></script> 
	<![endif]-->
</head>

<body style="background-color: orange;">
	<div id="list"></div>
	<script src="/js/lib/require.js"></script>
	<script>
		require(["js/common"], function() {
			require(["jquery", "vue"], function($, Vue) {
				require(["vuex"], function(Vuex) {
					
				});
			});
		});
	</script>
</body>

</html>