<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="assets/base.min.css" />
</head>
<body>
	<div id="app">
		<p>
      send：<input type="text" v-model="sendMsg" />
    </p>
    <button @click="connect">connect</button>
    <button @click="close">close</button>
    <button @click="send">send</button>
    <P>receive：{{ receiveMsg }}</P>
	</div>
	<script src="public/js/library/vue3.js" defer></script>
	<script type="module">
		const { createApp, ref, onMounted } = Vue
		const app = createApp({
			setup () {
        // WebSocket用于在Web浏览器和服务器之间进行任意的双向数据传输的一种技术。
        // WebSocket协议基于TCP协议实现，包含初始的握手过程，以及后续的多次数据帧双向传输过程。
        // 其目的是在WebSocket应用和WebSocket服务器进行频繁双向通信时，
        // 可以使服务器避免打开多个HTTP连接进行工作来节约资源，提高了工作效率和资源利用率。
        // WebSocket目前支持两种统一资源标志符ws和wss，类似于HTTP和HTTPS


        /*
        ws.readyState

        CONNECTING：值为0，表示正在连接。
        OPEN：值为1，表示连接成功，可以通信了。
        CLOSING：值为2，表示连接正在关闭。
        CLOSED：值为3，表示连接已经关闭，或者打开连接失败。
        ws.bufferedAmount
        只读属性 bufferedAmount 已被 send() 放入正在队列中等待传输，但是还没有发出的 UTF-8 文本字节数。

        */
        const sendMsg = ref('Hello WebSockets!')
        const receiveMsg = ref('')
        let ws
        function connect () {
          ws = new WebSocket('ws://127.0.0.1:8282');

          ws.onopen = function (evt) { 
            console.log('Connection open ...')
          }

          ws.onmessage = function (evt) {
            console.dir(evt)
            receiveMsg.value = evt.data
          }

          ws.onclose = function (evt) {
            console.log('Connection closed.')
          }

          ws.onerror = function (evt) {
            console.log('error!!!')
          }
        }

        function send () {
          ws.send(sendMsg.value)
        }
        function close () {
          ws.close()
        }
        /*
          socket.io是一个webSocket库，目标是构建不同浏览器和移动设备上使用的实时应用。
          它会自动根据浏览器从webSocket ajax长轮询 ifrane流等各种方式选择最佳的方式
          Socket.io主要有以下几点：

          1、实时分析：将数据推送到客户端，这些客户端会被表示为实时计数器，图表或日志客户
          2、实时通讯和聊天：几行代码就可以实现一个简单的聊天室
          3、二进制流传输：支持任何形式的二进制文件传输，例如：图片，视频，音频等
          4、文档合并：允许多个用户同时编辑一个文档，并且能够看到每个用户做出的修改
          
        */
        // https://blog.csdn.net/sinat_36422236/article/details/85051547
				return {
          send,
          connect,
          close,
          sendMsg,
          receiveMsg
				}
			}
		})
		app.mount('#app')
	</script>
</body>
</html>
