*,*:after,*:before{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-tap-highlight-color:transparent;}
body{margin:0;}
.slider_box{height:auto; overflow:hidden; position:relative;}


.slider_box .prev_btn,
.slider_box .next_btn{width:30px; height:50px; display:none; position:absolute; top:50%; margin-top:-25px;
background-color:#000; filter:alpha(opacity=30); background-color:rgba(0,0,0,0.3) !important; z-index:101;}
.slider_box .prev_btn{left:0;}
.slider_box .next_btn{right:0;}


.slider_box  .slider{position:relative; top:0; left:0;}
.slider_box  .slider div{float:left;}
.slider_box  .slider div img{display:block; width:100%; height:auto;}


.slider_box .slider_navbtn{width:100%; height:30px; padding-top:5px; position:absolute; left:0; bottom:0; z-index:99;}
.slider_box .slider_navbtn ul{list-style:none; margin:0; padding:0; text-align:center;}
.slider_box .slider_navbtn ul li{width:10px; height:10px; display:inline-block; margin:0 5px; border-radius:50%; border:2px solid #fff;
filter:alpha(opacity=70); opacity:0.7; background-color:#fff; cursor:pointer;}
.slider_box .slider_navbtn ul > .active{background-color:#888;}


