a,img{outline:none; border:0;}
body,ul,li{margin:0; padding:0;}
ul{list-style:none;}
.container,.container2{width:610px; height:205px; overflow:hidden; position:relative;}
.container .slide,.container2 .slide{width:610px; height:205px; overflow:hidden; position:absolute; left:0; top:0;}
.container .scroller,.container2 .scroller{height:205px; width:99999px; position:absolute; left:0; top:0;}
.container .scroller li,.container2 .scroller li{width:610px; height:205px; display:block; float:left;}
.container .slideTB li,.container2 .slideTB li{display:block; clear:both; position:static;}
.container .fadeIn li,.container2 .fadeIn li{display:none; clear:both; position:absolute; left:0; top:0;}
.container .page,.container2 .page{position:absolute; right:10px; bottom:5px; z-index:30;}
.container .page li,.container2 .page li{width:20px; height:20px; display:block; float:left; margin-left:2px; background-color:yellow; text-align:center; line-height:20px; color:green; cursor:pointer;}
.container .page .cur,.container2 .page .cur{background-color:blue; color:#FFF;}
.container .prev,.container .next,.container2 .prev,.container2 .next{width:30px; height:100px; display:none; position:absolute; left:0; top:50%; margin-top:-50px; background-color:#000; opacity:0.5; filter:alpha(opacity=50); background-color:rgba(0,0,0,0.5)!important; z-index:30;}
.container .next,.container2 .next{left:100%; margin-left:-30px;}