body,ul,li,h1,h2,h3,h4,h5,h6,p,span{margin:0; padding:0; font-weight:normal;}
a,img{text-decoration:none; outline:none; border:none; vertical-align:baseline; -webkit-touch-callout:none;}
a:hover{text-decoration:none;}
a:focus{outline:none; text-decoration:none;}
ul{list-style:none;}
article{display:block;}
*,*:after,*:before{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; font-family:"Microsoft YaHei";
transition:background-color 0.2s linear; transition:color 0.2s linear;
-moz-transition:background-color 0.2s linear; -moz-transition:color 0.2s linear;
-webkit-transition:background-color 0.2s linear; -webkit-transition:color 0.2s linear;}
.phoneSite{background-color:#ebebeb;}
.phoneSite .content{background-color:#fff; overflow:hidden; min-width:640px; max-width:960px; margin:0 auto; position:relative;}
.verdana{font-family:'verdana';}
.header{position:fixed; top:0; left:0; width:100%; z-index:110; height:90px; background-color:#ebebeb;}
.din{height:90px;}
.head{height:90px; min-width:640px; max-width:960px; background-color:#fff; position:relative; overflow:hidden; margin:0 auto;
box-shadow:0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);}
.head .logo{height:90px; width:189px; display:block; position:absolute; left:0; top:0; background:url(../images/logo.png) no-repeat center #0d6fef;}
.head .logo:active{background-color:#0556c0; box-shadow:0 1px 2px rgba(0,0,0,0.3) inset; -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3) inset;
-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3) inset;}
.head .downLoad{width:160px; height:48px; display:none; line-height:42px; border:2px solid #0d6fef; color:#0d6fef; font-size:26px; float:right; text-align:center;
margin:25px 100px 0 0; border-radius:5px; -moz-border-radius:5px; -webkit-box-shadow:5px;}
.head .downLoad:active{background-color:#0d6fef; color:#fff;}
.head .nav{float:right; height:100%; padding-top:40px;}
.head .nav a{display:block; border-bottom:8px solid #fff; padding-bottom:5px; color:#0d6fef; font-size:26px; font-weight:bold; float:left; margin-right:20px;}
.head .nav .cur{border-bottom-color:#0d6fef;}
.head .navPack_wrap .navPack{display:block; width:32px; height:33px; position:absolute; right:30px; top:32px; background:url(../images/icon_all.png) no-repeat -325px 0;}
.downLoadBox{width:290px; height:250px; color:#000; padding:0 20px 0; display:none; position:fixed; left:50%; margin-left:5px; top:90px; overflow:hidden; background-color:#fff;
box-shadow:0 4px 3px rgba(0,0,0,0.3);
-moz-box-shadow:0 4px 3px rgba(0,0,0,0.3);
-webkit-box-shadow:0 4px 3px rgba(0,0,0,0.3);  z-index:110;}
.downLoadBox .pc{height:74px; color:#000; border-bottom:1px solid #a2a2a2; position:relative; padding-top:10px;}
.downLoadBox .pc a{color:#000; display:block; width:172px;}
.downLoadBox .pc h2{font-size:18px; padding-left:45px; font-weight:bold; padding-bottom:15px;}
.downLoadBox .pc h2 .icon{width:30px; height:25px; display:block; position:absolute; left:0; top:7px; background:url(../images/icon_all.png) no-repeat -285px -216px;}
.downLoadBox .pc p{font-size:14px; font-weight:normal; position:relative;}
.downLoadBox .pc p .icon{width:29px; cursor:pointer; height:30px; display:block; position:absolute; left:140px; top:-8px; background:url(../images/icon_all.png) no-repeat -381px -216px;}
.downLoadBox .pc p a:hover{text-decoration:underline;}
.downLoadBox .pc p .icon:hover{background-position:-344px -216px;}
.downLoadBox .mobile{padding-top:20px;}
.downLoadBox .mobile h2{font-size:18px; font-weight:bold; padding-left:37px; position:relative;}
.downLoadBox .mobile h2 .icon{width:14px; height:32px; display:block; position:absolute; left:10px; top:-11px; background:url(../images/icon_all.png) no-repeat -323px -216px;}
.downLoadBox .mobile .mob{padding:22px 0 0 116px; position:relative;}
.downLoadBox .mobile .mob img{position:absolute; left:0; top:10px;}
.downLoadBox .mobile .mob a{width:125px; display:block; padding:5px 0 5px 10px; color:#000; position:relative;}
.downLoadBox .mobile .mob a .icon{width:29px; cursor:pointer; height:30px; display:block; position:absolute; right:12px; top:-4px; background:url(../images/icon_all.png) no-repeat -381px -216px;}
.downLoadBox .mobile .mob a:hover{text-decoration:underline;}
.downLoadBox .mobile .mob a .icon:hover{background-position:-344px -216px;}
@media (min-width:710px){
	.head .navPack_wrap,.pop{display:none;}
}
@media (max-width:710px){
	.head .nav{display:none;}
	.head .navPack_wrap{display:block; height:100%; width:95px; position:absolute; right:0; top:0; cursor:pointer;}
	.pop{display:none; position:absolute; overflow:hidden; left:0; top:90px; height:580px; max-width:710px; z-index:109; width:100%; filter:alpha(opacity=90); background-color:#000; background-color:rgba(0,0,0,0.9) !important; padding:85px 46px 0;}
	.pop .curClose{display:block; width:32px; height:32px; position:absolute; right:40px; top:40px; cursor:pointer; background:url(../images/icon_all.png) no-repeat -271px -45px;}
	.pop a{display:block; height:78px; line-height:78px; font-size:32px; color:#fff; border-bottom:2px solid #5c5c5d; margin-bottom:68px; padding-left:15px;}
}

.banner{height:414px; overflow:hidden; background:url(../images/banner.jpg) no-repeat center top; position:relative;}
.banner .downLoad{height:100%; width:344px; position:absolute; right:8%; top:0; background:url(../images/download.png) no-repeat center -70px;}
.banner .downLoad a{width:200px; height:57px; display:block; position:absolute; top:232px; right:85px; background:url(../images/icon_all.png) no-repeat -213px -152px;}
.banner .downLoad a:active{background-position:-213px -90px;}

.tit{height:62px; margin-top:45px; min-width:320px; line-height:62px; overflow:hidden; position:relative; font-size:30px; color:#000; padding:0 19px 0 49px;}
.tit .black_dmd{width:14px; height:53px; display:block; background-color:#000; position:absolute; left:19px; top:0;}
.tit .fun_itd{height:53px; line-height:53px; font-weight:bold; border-bottom:2px solid #818182; display:block;}
.tit .arrow-bottom{display:inline-black; position:absolute; left:92px; top:53px; border-left:8px solid transparent; border-right:8px solid transparent; border-top:8px solid #555; font-size:0; line-height:0;}

.col-xs-6.col-sm-4{padding-bottom:75px;}

.fun_mod .icon{display:block; width:100px; height:100px; position:absolute; left:0; top:0; background:url(../images/icon_all.png) no-repeat;}
.fun_mod,.itd{padding:50px 33px 0 60px; overflow:hidden;}
.fun_mod{padding-left:50px;}
.fun_mod .fun{width:258px; height:100px; display:inline-block; padding:5px 0 0 118px; position:relative;}
.fun_mod .fun .fun_name{font-size:28px; font-weight:bold; color:#3d3d3d; display:block; line-height:32px;}
.fun_mod .fun .fun_itd{font-size:24px; color:#8a8a8a; display:block; line-height:28px;}
.fun_mod .fun .thread{height:100px; width:1px; background-color:#b5b5b5; display:block; position:absolute; right:12px; top:0;}
.fun_mod .fun_mod1 .icon{background-position:0 0;}
.fun_mod .fun_mod1:active .icon{background-position:-108px 0;}
.fun_mod .fun_mod2 .icon{background-position:0 -108px;}
.fun_mod .fun_mod2:active .icon{background-position:-108px -108px;}
.fun_mod .fun_mod3 .icon{background-position:0 -216px;}
.fun_mod .fun_mod3:active .icon{background-position:-108px -216px;}
.fun_mod .fun_mod4 .icon{background-position:0 -324px;}
.fun_mod .fun_mod4:active .icon{background-position:-108px -324px;}
.fun_mod .fun_mod5 .icon{background-position:0 -432px;}
.fun_mod .fun_mod5:active .icon{background-position:-108px -432px;}
.fun_mod .fun_mod6 .icon{background-position:0 -540px;}
.fun_mod .fun_mod6:active .icon{background-position:-108px -540px;}
.fun_mod .fun_mod7 .icon{background-position:0 -648px;}
.fun_mod .fun_mod7:active .icon{background-position:-108px -648px;}
.fun_mod .fun_mod8 .icon{background-position:0 -756px;}
.fun_mod .fun_mod8:active .icon{background-position:-108px -756px;}
.fun_mod .fun_mod9 .icon{background-position:0 -864px;}
.fun_mod .fun_mod9:active .icon{background-position:-108px -864px;}
.fun_mod .fun_mod10 .icon{background-position:0 -972px;}
.fun_mod .fun_mod10:active .icon{background-position:-108px -972px;}
.fun_mod .fun_mod11 .icon{background-position:0 -1080px;}
.fun_mod .fun_mod11:active .icon{background-position:-108px -1080px;}
.fun_mod .fun_mod12 .icon{background-position:0 -1188px;}
.fun_mod .fun_mod12:active .icon{background-position:-108px -1188px;}
.fun_mod .fun_mod13 .icon{background-position:0 -1296px;}
.fun_mod .fun_mod13:active .icon{background-position:-108px -1296px;}
.fun_mod .fun_mod13 .thread{display:none;}
@media (min-width:768px){
	.fun_mod .fun_mod3 .thread,.fun_mod .fun_mod6 .thread,.fun_mod .fun_mod9 .thread,.fun_mod .fun_mod12 .thread{
		display:none;
	}
	.phoneSite{min-width:910px;}
}
@media (max-width:768px){
	.fun_mod .fun_mod2 .thread,.fun_mod .fun_mod4 .thread,.fun_mod .fun_mod6 .thread,.fun_mod .fun_mod8 .thread,.fun_mod .fun_mod10 .thread,.fun_mod .fun_mod12 .thread{
		display:none;
	}
}

.footer{background-color:#181818;}
.footer .itd{padding:90px 60px 0;}
.footer .text{font-size:28px; color:#fff; padding:10px 0 60px;}
.footer .curtit{font-size:32px; color:#fff; padding:0;}
.footer .method{position:relative; padding-left:63px; font-size:28px; color:#e2e2e2; padding-top:30px;}
.footer .phone .icon{display:block; width:50px; height:40px; position:absolute; left:0; top:32px; background:url(../images/icon_all.png) no-repeat -216px 0;}
.footer .email .icon{width:43px; height:33px; display:block; position:absolute; left:4px; top:32px; background:url(../images/icon_all.png) no-repeat -272px 0;}
.footer .sina .icon{display:block; width:50px; height:40px; position:absolute; left:0; top:32px; background:url(../images/icon_all.png) no-repeat -216px -45px;}
.footer .phone span{display:inline-block; width:220px; height:45px; cursor:pointer; line-height:45px; background-color:#484848; text-align:center;}
.footer .phone span:active{background-color:#0d6fef;}
.footer .email,.footer .sina{padding-left:63px;}
.footer .email span a,.footer .sina span a,.footer .phone span a{color:#e2e2e2;}
.footer .email span a:hover,.footer .sina span a:hover{color:#e2e2e2; text-decoration:underline;}
.footer .phone span a:hover{color:#e2e2e2;}
.footer .first,.footer .last{padding:0;}
.footer .last{padding-bottom:50px;}

@media (min-width:767px){
	.footer .last .last_box{float:right; padding-top:95px;}
}
@media (max-width:767px){
	.footer .text{border-bottom:2px solid #5e5e5e;}
	.footer .curtit{padding-top:55px;}
}
.slide-box{width:100%; height:100%; z-index:99; position:fixed; left:0; top:90px; display:none; background-color:#ebebeb;}
.itd_page{position:relative; height:100%; z-index:99; margin:0 auto; background-color:#ebebeb; margin:0 auto; padding:55px 0 0;}
.itd_page .content{min-width:640px;height:100%; z-index:102;}
.itd_page .left,.itd_page .right{width:81px; height:90px; display:block; margin-top:-80px; background:url(../images/left.png) no-repeat; z-index:105;}
.itd_page .left{position:absolute; left:0; top:50%;}
.itd_page .left:active{background:url(../images/left.jpg) no-repeat;)}
.itd_page .right{position:absolute; right:0px; top:50%; background:url(../images/right.png) no-repeat;}
.itd_page .right:active{background:url(../images/right.jpg) no-repeat;}
.itd_page .slide{overflow:hidden; height:100%; width:100%; position:relative;}
.itd_page .slide_show{height:100%; position:absolute; top:0; left:0;	}
.itd_page .slide_show li{display:none; float:left; height:100%; position:relative; overflow:hidden;}
.itd_page .slide_show .curLiShow{display:block;}

.itd_page .title{font-size:36px; color:#181818; z-index:101; position:absolute; left:95px; top:0px; width:500px; height:185px;}
.itd_page .title .fun{padding-bottom:10px; font-size:38px; padding-left:59px; opacity:0; transform:translate3d(150px,0,0); -webkit-transform:translate3d(150px,0,0);
transition:all 0.5s ease 0.1s; -webkit-transition:all 0.5s ease 0.1s;}
.itd_page .title .icon{display:block; position:absolute; left:0; top:50%; vertical-align:middle; opacity:0; background:url(../images/icon_all.png) no-repeat;
transform:translate3d(150px,0,0); -webkit-transform:translate3d(150px,0,0); transition:all 0.5s ease 0.1s; -webkit-transition:all 0.5s ease 0.1s;}
.itd_page .title .icon.icon01{width:53px; height:49px; margin-top:-25px; background-position:-216px -256px;}
.itd_page .title .icon.icon02{width:53px; height:36px; margin-top:-23px; background-position:-216px -312px;}
.itd_page .title .icon.icon03{width:53px; height:39px; margin-top:-23px; background-position:-216px -356px;}
.itd_page .title .icon.icon04{width:53px; height:53px; margin-top:-27px; background-position:-216px -402px;}
.itd_page .title .icon.icon05{width:53px; height:30px; margin-top:-15px; background-position:-216px -458px;}
.itd_page .title .icon.icon06{width:53px; height:39px; margin-top:-20px; background-position:-216px -496px;}
.itd_page .title .icon.icon07{width:53px; height:39px; margin-top:-23px; background-position:-216px -542px;}
.itd_page .title .icon.icon08{width:53px; height:41px; margin-top:-21px; background-position:-216px -588px;}
.itd_page .title .icon.icon09{width:53px; height:46px; margin-top:-27px; background-position:-216px -638px;}
.itd_page .title .icon.icon10{width:53px; height:44px; margin-top:-25px; background-position:-216px -692px;}
.itd_page .title .icon.icon11{width:53px; height:41px; margin-top:-24px; background-position:-216px -744px;}
.itd_page .title .icon.icon12{width:53px; height:44px; margin-top:-26px; background-position:-216px -794px;}
.itd_page .title .icon.icon13{width:53px; height:45px; margin-top:-29px; background-position:-216px -847px;}

.itd_page .title .saying{font-size:28px; margin-left:10px;}
.itd_page .title p{font-size:28px; color:#8a8a8a; padding-left:60px; opacity:0; transform:translate3d(150px,0,0); -webkit-transform:translate3d(150px,0,0);
transition:all 0.6s ease 0.7s; -webkit-transition:all 0.6s ease 0.7s;}

.itd_page .animate  .icon,.itd_page .animate  .fun,.itd_page .animate p{transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); opacity:1;}

.itd_page .fun_pic{width:620px; height:685px; position:absolute; bottom:0; z-index:100;}
.itd_page .fun_pic img{height:100%; width:100%;}

.itd_page .closeWrap{height:55px; width:55px; display:block; position:absolute; right:32px; top:10px; cursor:pointer; z-index:108;}
.itd_page .closeWrap .curClose{width:30px; height:30px; display:block; position:absolute; left:12px; top:15px; background:url(../images/icon_all.png) no-repeat -213px -216px;}
.itd_page .closeWrap:active .curClose{background-position:-248px -216px;}
@media(orientation:portrait){
	.itd_page .title{left:80px;}
	.itd_page .fun_pic{right:57%;}
}
@media (min-width:767px) and (max-width:960px) and (orientation:portrait){
	.head .nav{display:block;}
	.head .navPack_wrap,.pop{display:none;}
	.banner{background-position:center top;}
	.fun_mod .fun_mod2 .thread,.fun_mod .fun_mod4 .thread,.fun_mod .fun_mod6 .thread,.fun_mod .fun_mod8 .thread,.fun_mod .fun_mod10 .thread,.fun_mod .fun_mod12 .thread{
		display:block;
	}
	.fun_mod .fun_mod3 .thread,.fun_mod .fun_mod6 .thread,.fun_mod .fun_mod9 .thread,.fun_mod .fun_mod12 .thread{
		display:none;
	}
	.fun_mod .container-fluid .row div{width:33.33333%;}
}
@media (min-width:959px) and (orientation:portrait){
	.phoneSite{min-width:960px;}
}
@media (orientation:landscape){
	.phoneSite{min-width:960px;}
	.head .nav{display:block;}
	.head .navPack_wrap,.pop{display:none;}
	.banner{background-position:center top;}
	.fun_mod .fun_mod2 .thread,.fun_mod .fun_mod4 .thread,.fun_mod .fun_mod6 .thread,.fun_mod .fun_mod8 .thread,.fun_mod .fun_mod10 .thread,.fun_mod .fun_mod12 .thread{
		display:block;
	}
	.fun_mod .fun_mod3 .thread,.fun_mod .fun_mod6 .thread,.fun_mod .fun_mod9 .thread,.fun_mod .fun_mod12 .thread{
		display:none;
	}
	.fun_mod .container-fluid .row div{width:33.33333%;}
	.itd_page .fun_pic{right:7%;}
}
